#body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: arial, sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  margin-top: auto;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.buttons {
  margin: 10px 0 10px 0;
}

.img-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0 10px 0;
}

.img-search-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}
.img-search-logo-p {
  color: #4285f4;
  font: 16px/16px roboto-regular, arial, sans-serif;
  position: relative;
  left: 127px;
  bottom: 32px;
  white-space: nowrap;
  margin-bottom: -25px;
}

.nav-link {
  color: #202124;
  text-decoration: none;
  font-size: 12px;
  font-family: arial, sans-serif;
}

.nav-item {
  display: inline-block;
  flex-grow: 1;
  color: black;
  width: 120px;
  position: relative;
}

.nav-position {
  height: 48px;
  padding-top: 20px;
}

.logo-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  background-color: none;
}

#google_logo {
  margin: 0 0 0 20px;
}

.middle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}

.footer {
  padding: 15px 20px;
  border-bottom: 1px solid #dadce0;
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  justify-content: space-between;
  margin-top: auto;
}
.footer-nav-start,
.footer-nav-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-nav-start a,
.footer-nav-end a {
  color: #202124;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
  font-family: arial, sans-serif;
}

.adv-footer {
  padding: 12px 0 12px 27px;
  border-top: 1px solid #dadce0;
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  margin-top: auto;
}

.adv-footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.adv-footer-nav p,
.adv-footer-nav a {
  color: #70757a;
  text-decoration: none;
  margin: 0 15px;
  font-family: arial, sans-serif;
}

.input-icon {
  margin-top: 10px;
  position: relative;
}

.input-search {
  display: flex;
  min-height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  min-width: 540px;
  padding: 2px 8px 0 50px;
  font-size: 17px;
}
.input-search-shadow {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.input-search-shadow:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px #dfe1e5;
  border: 1px solid #dfe1e5;
}
.input-search:focus {
  outline: none;
  border-color: #dfe1e5;
}

.icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.btn-icon {
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%);
  background: none;
  border: none;
}

.btn-icon i {
  font-size: 18px;
  height: 24px;
  line-height: 24px;
  width: 24px;
  color: #4285f4;
  background-color: #fff;
}

.icon i {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  width: 20px;
  color: #9aa0a6;
}
.button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 18px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.label {
  color: #d93025;
  font-size: 20px;
  margin: 22px 45px 25px 45px;
  font-family: arial, sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  border-bottom: 1px solid #dfe1e5;
}

div,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

.form-1 {
  max-width: 1140px;
  min-width: 200px;
  width: 96%;
  margin: 20px 2% 0 45px;
}

.form-2 {
  max-width: 1140px;
  min-width: 200px;
  width: 96%;
  margin: 0 2% 0 45px;
}

.form-label {
  display: flex;
  flex-direction: row;
  min-width: 167px;
  width: 100%;
  font-size: 16px;
  min-height: 42px;
  font-weight: 500;
  color: #333;
  margin-bottom: -10px;
}

.form-desc-space {
  float: left;
  display: block;
  min-width: 167px;
  min-height: 41px;
  width: 50%;
}

.form-desc-left {
  float: left;
  display: block;
  min-width: 167px;
  width: 16%;
  font-size: 16px;
  min-height: 42px;
  font-weight: 500;
  color: #333;
}

.form-desc-right {
  float: left;
  display: block;
  width: 33%;
  font-size: 13px;
  font-weight: 700;
  color: #777;
  padding-left: 5px;
}

.input-group {
  float: left;
  display: block;
  min-width: 167px;
  width: 100%;
  height: 42px;
  color: #222;
  line-height: 16px;
}

.inputs-desc {
  display: flex;
  flex-direction: row;
  min-width: 167px;
  width: 100%;
  min-height: 42px;
  font-weight: 500;
  color: #333;
  line-height: 16px;
}

.input-div {
  float: left;
  display: block;
  min-width: 167px;
  min-height: 41px;
  width: 50%;
}

.input-desc {
  padding-right: 16px;
}

.input-desc-i {
  width: 100%;
  text-align: left;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}

.desc-left {
  float: left;
  display: block;
  min-width: 167px;
  width: 16%;
  height: 42px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
}

.input-desc-left {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}

.input-desc-right {
  color: #666;
  font-family: monospace;
  font-size: 11px;
  white-space: pre;
}

.adv-desc {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  min-width: 200px;
  width: 96%;
  margin: 0 2% 35px 45px;
}

.adv-desc-links {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.desc-right {
  float: left;
  display: block;
  width: 32%;
  min-width: 160px;
  margin: 0 0 8px 1%;
  color: #555;
  font-size: 11px;
  padding-left: 5px;
  position: relative;
}

.line-1 {
  margin: 20px 38% 0 45px;
  clear: both;
  border-top: 1px solid #ebebeb;
}

.line-2 {
  margin: 5px 38% 5px 45px;
  clear: both;
  border-top: 1px solid #ebebeb;
}

.adv-btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: default;
  text-align: center;
  white-space: nowrap;
  margin: 12px 440px 26px 0;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  outline: 0;
}

.adv-btn-input {
  user-select: none;
  line-height: 100%;
  height: 30px;
  min-width: 120px;
  box-shadow: none;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff;
  padding: 0 12px;
  font-size: 11px;
  font-weight: bold;
}

.adv-select {
  z-index: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  text-indent: 4px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
}

.adv-select-menu-btn {
  z-index: 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 30px;
  background-color: #eee;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
  color: #444;
  cursor: default;
  font-size: 12px;
  font-weight: lighter;
  line-height: 27px;
  list-style: none;
  margin: 0 2px;
  min-width: 46px;
  outline: none;

  text-align: center;
  text-decoration: none;
}

.adv-select-inline-block {
  position: relative;
  display: inline-block;
}

.adv-flat-menu-button-caption-lng,
.adv-flat-menu-button-caption-reg,
.adv-flat-menu-button-caption-upd,
.adv-flat-menu-button-caption-terms,
.adv-flat-menu-button-caption-type,
.adv-flat-menu-button-caption-permission {
  vertical-align: top;
  white-space: nowrap;
  display: none;
  padding-left: 28px;
}

.adv-flat-menu-list-caption {
  position: absolute;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  max-height: 250px;
  overflow-y: auto;
  margin-top: 2px;
  width: 100%;
}

.adv-select-open {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  text-indent: 4px;
}

.adv-flat-menu-button-dropdown {
  border-color: #777 transparent;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  height: 0;
  width: 0;
  position: absolute;
  right: 5px;
  top: 12px;
}

.adv-select-menu-btn:focus .adv-flat-menu-button-caption,
.adv-select-menu-btn:focus .adv-flat-menu-button-caption-lng,
.adv-select-menu-btn:focus .adv-flat-menu-button-caption-reg,
.adv-select-menu-btn:focus .adv-flat-menu-button-caption-upd,
.adv-select-menu-btn:focus .adv-flat-menu-button-caption-terms,
.adv-select-menu-btn:focus .adv-flat-menu-button-caption-type,
.adv-select-menu-btn:focus .adv-flat-menu-button-caption-permission {
  display: block;
  background-color: #fff;
  z-index: 50;
}
